body{
	text-transform: uppercase;
	font-family: "PT Sans";
	min-width: 1200px;
    margin: 0;
    padding: 0;
    color: rgb(254, 254, 254);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container{
	width: 1200px;
	margin:0 auto;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}

.navigation{
	width:1200px;
}
.nav-list {
	font-size: 14px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	line-height: 1.857;
	background-color: rgb(255,255,255);
	list-style-type: none;

	width: 1200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0 70px;
}
.nav-list a{
	color:rgb(0,0,0);
	text-decoration: none;
}
.menu-item{
	display: block;
	width: 33%;
}
.menu-item:nth-child(2) {
    margin-right: 240px;
}
.logo{
	width: 240px;
}

.photo{
	width:1200px; 
	position: relative;
	/*margin: 0 auto;*/
}
.tagline{
	width: 600px;
	position: absolute;
	bottom: 10px;
	padding:55px 300px 55px 300px;
}
.tagline h2{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.238;
  text-align: center;
  vertical-align: middle;
}

.tagline p{
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.857;
  text-align: center;
  vertical-align: middle;
}
.features-blue{
	display: flex;
	width: 1200px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.features-blue .reason-item{
	display: block;
	width: 310px;
	background-color: rgb(129, 179, 210);
	padding: 50px 45px 40px 45px;
}
.features-blue .reason-image{
	display: block;
	width: 800px;
}
.reason-item h2{
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
.reason-item p{
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 1;
  vertical-align: middle;
}
.reason-item span{
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.advantages{
	display: flex;
	width: 1200px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.advantages-item{
	display: block;
	width: 310px;
	padding: 160px 45px 82px 45px;
	text-align: center;
}
.advantages-item:last-child{
	margin-right: 0;
}
.advantages-item h2{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center; 
  vertical-align: middle;
}
.advantages-item p{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight:normal;
  text-align: center; 
}
.features-grey{
	display: flex;
	width: 1200px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.features-grey .reason-item{
	display: block;
	width: 295px;
	background-color: rgb(238, 238, 238);
	padding: 50px 50px 60px 55px;
}
.features-grey .reason-item:last-child{
	margin-right: 0;
}
.features-grey h2{
  font-size: 21px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 1; 
}
.features-grey p{
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  vertical-align: middle;
}
.features-grey span{
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  vertical-align: middle;
}
.more{
	width: 1200px;
}
.more h3{
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}
.more p{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-align: center;
}
.more a{
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  line-height: 1.238;
}
.search{
	width: 300px;
	margin-left: 315px;
	margin-right: 315px;
	padding: 33px 135px 30px 135px;
	background-color: rgb(118, 99, 87);
}
.map{
	width: 1200px;
}
.pop-up{
	width: 570px;
	margin: auto;
}
.pop-up label{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}
.pop-up input{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}
.pop-up input[type="submit"]{
  font-size: 21px;
  color:rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.238;
  text-align: center;
}
.footer{
  display: flex;
  width: 1200px;
  font-size: 0;
  text-align: center;
  	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.site-tag{
  display:block;
  width: 400px;
}
.site-tag a{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
}
.footer-social{
  display: block;
  width: 400px;
  font-size: 14px;
}
.copyright{
  display: block;
  width: 400px;
}
.copyright a{
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.857;
  text-decoration: none;
}
.copyright img {
  vertical-align: middle;
}


/*inner.html*/
.search-panel{
	width: 1200px;
	min-height: 220px;
	background-image: url(../img/background-inner.jpg);
}
 .search-panel h2{
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.313;
  text-align: left;
 }
 .search-panel label{
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
 }
 .search-item{
	width: 300px;
	text-align: right;
	float: left;
}
.search-item::nth-child(2) {
    margin-right: 300px;
}
.finded {
	width: 1060px;
	background-color: rgb(255, 255, 255);
	padding: 40px 70px;
}
.number-finded h2{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.238;
  text-align: left;
  vertical-align: bottom;
  float: left;
  width: 135px;
  padding-right:31px;
}
.sorting{
	float: left;
	width: 780px;
	font-size: 0;
}
.sorting h3{
	font-size: 12px;
	line-height: normal;
    color: rgb(0, 0, 0);
	vertical-align: middle;
	text-align: left;
	background-color: rgb(255,255,255);
	list-style-type: none;
	text-decoration: none;
	float: left;
	width: 90px;
}
	.sorting-type{
	font-size: 12px;
	line-height: normal;
    color: rgb(0, 0, 0);
	vertical-align: bottom;
	text-align: left;
	background-color: rgb(255,255,255);
	list-style-type: none;
	text-decoration: none;
	width: 780px;
}
.sorting-price{
	color: rgb(129, 179, 210);
	font-size: 12px;
	float: left;
	width: 90px;
}
.sorting-view,
.sorting-rating {
	color: rgb(177, 177, 177);
	font-size: 12px;
	float: left;
	width: 90px;
}
.slider{
	float: left;
	width: 111px;
}
.hotel{
	width: 1060px;
	border-color: rgb(229, 229, 229);
	border-width: 3px;
	padding: 30px  70px; 
}
.image{
	float: left;
	width: 135px;
	padding-right: 31px;
}
.about{
	width: 780px;
	float: left;
}
.hotel-type{
    width: 118px;
    float: left;
    margin-right: 8px;
}
.price{
    width: 134px;
    float: left;
}
.price a{
	box-shadow: 0 0 20px;
}
.rating{
	float: left;
	width: 111px;
	background-color: rgb(242, 242, 242);
}
.about h2{
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.238;
  text-align: left;
  margin:0;
  padding: 0;
}
.about span{
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-align: left;
}
 .about a{
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
 }
 .btn-blue{
 	background-color: rgb(129, 179, 210);
 	text-decoration: none;
 	padding: 7px 15px;
 }
 .btn-brown{
 	background-color: rgb(118, 99, 87);
 	text-decoration: none;
 	padding: 7px 15px;
 }
.rating span{
  font-size: 14px;
  color: rgb(102, 102, 102);
  line-height: 1.5;
  text-align: right;
}
