body{
	text-transform: uppercase;
	font-family: "PT Sans",sans-serif;
	min-width: 1200px;
    margin: 0;
    padding: 0;
    color: rgb(254, 254, 254);
}
.container{
	width: 1200px;
	margin:0 auto;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}
.header{
	position: relative;
}
.navigation{
	position: relative;
}
.nav-list {
	font-size: 14px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	line-height: 1.857;
	list-style-type: none;
	display: flex;
	width: 1200px;
	padding: 0;
	padding-top:13px;
	margin:0;
	padding-bottom: 16px;
}
.nav-list a{
	color:rgb(0,0,0);
	text-decoration: none;
}
.nav-list a:not([href]){
	color:#766357;
}
.menu-item:first-child{ 
    width: 240px; 
    padding-left:70px; 
    box-sizing: border-box;
	text-align: left;
}
.menu-item:nth-child(2) {
    margin-right: 240px;
    text-align: center;
    width: 240px;
}
.menu-item:nth-child(3) {
    text-align: center;
    width: 240px;
}
.menu-item:last-child{ 
width: 240px; 
padding-right:70px; 
box-sizing: border-box;
text-align: right;
}
.menu-item a:hover{
  color: #81b3d2
}
.menu-item a:active{
  color: rgba(0, 0, 0, 0.302);
}
.logo{
	position: absolute;
	top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.photo{
	width:1200px; 
	position: relative;
	z-index: 1;
}
.tagline{
	width: 600px;
	position: absolute;
	bottom: 50px;
	padding-right: 300px;
	padding-left: 300px;
	text-align: center;
	margin: 0;
}
.tagline h2{
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.238;
}
.tagline p{
	display: inline-block;
	margin: 0;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.857;
  padding-top: 15px;
}
.features-blue{
	display: flex;
	width: 1200px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.features-blue .reason-item{
	width: 400px;
	background-color: rgb(129, 179, 210);
	padding-bottom: 49px;
	padding-top: 45px;
}
.features-blue .reason-image{
	display: block;
	width: 800px;
}
.reason-item h2{
	display: inline-block;
	margin:0;
    font-size: 21px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 21px;
    text-align: center; 
    padding:0 124px;
}
.reason-item span{
	display: inline-block;
	margin:0;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    margin-top: 25px;
    padding-left:175px;
}
.reason-item p{
	display: inline-block;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 21px;
    vertical-align: middle;
    padding:0 48px;
    padding-top: 10px;
}
.advantages{
	display: flex;
	width: 1200px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.advantages-item{
	position: relative;
	display: block;
	width: 400px;
	padding: 160px 50px 70px 50px;
	text-align: center;
	margin:0;
}
.advantages-item:last-child{
	margin-right: 0;
}
.advantages-item img{
	position: absolute;
	top:55px;
	right:160px;
}
.advantages-item h2{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center; 
  line-height: 21px;
  margin:0;
  vertical-align: middle;
  padding-bottom: 5px;
}
.advantages-item p{
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 21px;
  font-weight:normal;
  text-align: center; 
}
.features-grey{
	display: flex;
	width: 1200px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin:0;
}
.features-grey .reason-item{
	width: 400px;
	background-color: rgb(238, 238, 238);
	padding-bottom:62px;
	padding-top: 50px
}
.features-grey .reason-item:last-child{
	margin-right: 0;
}
.features-grey h2{
	display: inline-block;
	margin:0;
  font-size: 21px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  vertical-align: middle;
  line-height: 1; 
}
.features-grey p{
	display: inline-block;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  vertical-align: middle;
}
.features-grey span{
	display: inline-block;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  vertical-align: middle;
}
.more{
	width: 1200px;
	font-size: 0;
	padding: 0;
	margin:0;
}
.more h3{
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
}
.more p{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}
.search a{
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  line-height: 1.238;
}
.search{
	width: 300px;
	margin-left: 315px;
	margin-right: 315px;
	padding: 33px 135px 30px 135px;
	background-color: rgb(118, 99, 87);
	position: relative;
	bottom:0;
}
.btn-search::before{
	content: "";
	position: absolute;
}
.btn-seach:hover{
	background-color: #669ec0;
}
.btn-search:active{
	background-color: #5496bd;
}
.map{
	width: 1200px;
}
.pop-up{
	width: 570px;
	margin: auto;
}
.pop-up label{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}
.pop-up input{
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: left;
}
.pop-up input[type="submit"]{
  font-size: 21px;
  color:rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.238;
  text-align: center;
}
.footer{
  display: flex;
  width: 1200px;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-top: 35px;
	padding-bottom: 35px;
}
.site-tag{
  display:block;
  width: 400px;
}
.site-tag a{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-decoration: none;
}
.footer-social{
  display: block;
  width: 400px;
  font-size: 14px;
}
.social-btn{
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height:48px;
	font-size: 0;
	background-color: #81b3d2;
	position: relative;
}
.social-btn::before{
	content: "";
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
}
.social-btn:hover{
	background-color: #669ec0;
}
.social-btn:active{
	background-color: #5496bd;
}
.social-btn-twit::before {
    width: 17px;
    height: 15px;
    background-position: -5px -495px;
}
.social-btn-fb::before {
    width: 10px;
    height: 19px;
    background-position: -5px -344px;
}
.social-btn-yt::before {
    width: 20px;
    height: 16px;
    background-position: -5px -469px;
}
.copyright{
  display: block;
  width: 400px;
  font-size: 0;
}
.copyright span{
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.857;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 7px;
}
.academy-btn{
	display: inline-block;
	vertical-align: top;
	width: 113px;
	height:39px;
	font-size: 0;
	background-color: rgb(255, 255, 255);
	position: relative;
}
.academy-btn::before{
	content: "";
	position: absolute;
	top:50%;
	left:55%;
	transform: translate(-50%, -50%);
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
    width: 113px;
    height: 39px;
    background-position: -5px -54px;
    background-color: rgb(255, 255, 255);
}
.academy-btn:hover:before{
    width: 113px;
    height: 39px;
    background-position: -5px -103px;
}
.academy-btn:active:before{
    width: 113px;
    height: 39px;
    background-position: -5px -5px;
}


/*inner.html*/
.search-panel{
    width: 1200px;
    font-size: 0;
    padding-top: 15px;
	background-image: url(../img/background-inner.jpg);
	min-height: 203px;

}
.search-form {
	display: flex;
	width: 1200px;
	flex-direction: row;
	justify-content: flex-start;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]+label{
	display: block;
	position: relative;
	margin-top:25px;
	line-height: 21px;
	padding-left: 40px;
}
input[type="checkbox"] + label::before{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    color: inherit;
    font: inherit;
    background: none;
    border: none;	
    position: absolute;
    top: 0;
    left: 0;
}
input[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    top: 0;
    left:0;
    width: 26px;
    height: 22px;
    background-position: -5px -405px;
}

input[type="checkbox"] + label::after{
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    top: 0;
    left:0;
    width: 26px;
    height: 22px;
    background-position: -5px -280px;
}


input[type="checkbox"]:disabled + label::after{
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    top: 0;
    left:0;
    width: 26px;
    height: 22px;
    background-position: -5px -248px;
}
input[type="checkbox"]:disabled:checked + label::after{
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    top: 0;
    left:0;
    width: 26px;
    height: 22px;
    background-position: -5px -373px;
}
 .infrastructure{
 	display: block;
	width: 330px;
	box-sizing: border-box;
	padding-left: 70px;
}
 .search-type{
 	display: block;
 	width: 380px;
 }
 .search-item{
 	display: block;
 	width: 330px;
 	text-align: center;
 	padding-left: 90px;
 }
 .search-title{
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.313;
  text-align: left;
  margin-top: 13px;
  padding-left: 13px;
 }
.value{
	border: 2px solid #ffffff;
	border-radius: 2px;
	width: 314px;
	height: 32px;
	margin-top: 10px;
	margin-left:10px;
	font-size: 0;
	position: relative;
}
.value::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.value label{
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.min-price,
.max-price{
	width: 90px;
	padding-left: 54px;
	padding-top: 4px;
}
.value input{
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;	
}

.range-controls {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}
.scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

 .search-form h2{
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.313;
  text-align: left;
 }
 .search-form label{
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
 }
.finded {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	width: 1060px;
	background-color: rgb(255, 255, 255);
	padding: 11px 70px;
	vertical-align: middle;
	border-bottom: 1px solid rgb(229, 229, 229);
}
.number-finded h2{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.238;
  text-align: left;
  vertical-align: bottom;
  width: 135px;
  padding-right:30px;
}
.sorting{
	width: 780px;
	font-size: 0;
}
.sorting-item h3{
	font-size: 12px;
	line-height: normal;
    color: rgb(0, 0, 0);
	vertical-align: middle;
	text-align: left;
	list-style-type: none;
	text-decoration: none;
}
.sorting-item{
	display: flex;
	width: 785px;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	padding-top:4px;
}
	.sorting-type{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	font-size: 12px;
	line-height: normal;
    color: rgb(0, 0, 0);
	list-style-type: none;
	text-decoration: none;
	width: 675px;
}
.sorting-price{
	color: rgb(129, 179, 210);
	font-size: 12px;
	width: 80px;
}
.sorting-view,
.sorting-rating {
	color: rgb(177, 177, 177);
	font-size: 12px;
	width: 80px;
}
.sorting-view a,
.sorting-rating a{
	border-bottom:1px dotted rgb(129, 179, 210);
	}

.sorting-rating a:hover{
	color:#81b3d2;
}
.sorting-view a:hover{
	color:#81b3d2;
}
.sorting-rating a:active{
	color: rgb(0, 0, 0);
	border-bottom: 0;
}
.sorting-view a:active{
	color: rgb(0, 0, 0);
	border-bottom: 0;
}
.small-slider{
	width: 110px;
	display: inline-block;
	vertical-align: top;
	height:10px;
	font-size: 0;
	background-color: rgb(255, 255, 255);
	position: relative;
	margin-left: 20px;
	margin-top: 7px;
}
 .small-slider-up::before{
	content: "";
	position: absolute;
    width: 11px;
    height: 10px;
    background-position: -5px -85px;
    top:50%;
	left:70%;
	transform: translate(-50%, -50%);
	background-image: url(../img/small-sprite.png);
	background-repeat: no-repeat;
}
.small-slider-up:hover:before{
    width: 11px;
    height: 10px;
    background-position: -5px -105px;
}

.small-slider-up:active:before{
	width: 11px;
    height: 10px;
    background-position: -5px -65px;
}
 .small-slider-down::before{
	content: "";
	position: absolute;
    width: 11px;
    height: 10px;
    background-position: -5px -25px;
    top:50%;
	left:90%;
	transform: translate(-50%, -50%);
	background-image: url(../img/small-sprite.png);
	background-repeat: no-repeat;
}
.small-slider-down:hover:before{
    width: 11px;
    height: 10px;
    background-position: -5px -45px;
}
.small-slider-down:active:before{
	width: 11px;
    height: 10px;
    background-position: -5px -5px;
}
.active::before{
	width: 11px;
    height: 10px;
    background-position: -5px -5px;
}
.hotel{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	width: 1056px;
	padding: 0 72px; 
	padding-top:28px;
	padding-bottom: 25px;
	border-bottom:1px solid rgb(229, 229, 229);
}
.image{
	width: 135px;
	padding-right: 30px;
	padding-top: 5px;
}
.about{
	font-size: 0;
	margin: 0;
	padding: 0;
}
.about-hotel{
	display: flex;
	width: 785px;
	flex-direction: row;
	justify-content: flex-start;
	text-align: left;
	padding-top: 6px;
}
.hotel-type{
    width: 110px;
}
.price{
    width: 140px;
    margin-left: 5px;
}
.rating{
	font-size: 0;
	text-align: right;
}
.rating span{
	width: 100px;
	background-color: rgb(242, 242, 242);
	display: inline-block;
	font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 1.5;
    text-align: center;
}
i{
   display: inline-block;
   background-image: url(../img/two-star.png);
   width: 21px;
   height: 17px;
   margin-top: 0;
   margin-bottom:50px;
   margin-left:5px;
   vertical-align: top;
}
.about h2{
  font-size: 21px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.238;
  text-align: left;
  margin:0;
}
.about h2:hover{
	color: #81b3d2;
}
.about h2:active{
	color: rgba(0, 0, 0, 0.302);
}

.about span{
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  text-align: left;
}
 .about a{
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  vertical-align: bottom;
 }
 .btn-blue{
 	display: inline-block;
 	margin-top: 13px;
 	background-color: rgb(129, 179, 210);
 	text-decoration: none;
 	padding: 4px 17px;
 	position: relative;
 }
 .btn-blue::before{
	content: "";
	position: absolute;
}
.btn-blue:hover{
	background-color: #669ec0;
}
.btn-blue:active{
	background-color: #5496bd;
    color: rgba(255, 255, 255, 0.302);
}
 .btn-brown{
 	display: inline-block;
 	margin-top: 13px;
 	background-color: rgb(118, 99, 87);
 	text-decoration: none;
 	padding: 4px 18px;
 	position: relative;
 }
 .btn-brown::before{
	content: "";
	position: absolute;
}
.btn-brown:hover{
	background-color: #604e43;
}
.btn-brown:active{
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.302);
}





.sprite-calendar-click {
    width: 21px;
    height: 22px;
    background-position: -5px -152px;
}

.sprite-calendar-peace {
    width: 21px;
    height: 22px;
    background-position: -5px -184px;
}

.sprite-calendar-pointing {
    width: 21px;
    height: 22px;
    background-position: -5px -216px;
}


